body {
	padding-top: 60px;
	padding-bottom: 40px;
}
h4 {
	margin-bottom: 2px;	
}
.box {
	border: 1px solid #ccc;	
}

.form-signin {
	max-width:  405px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin select {
	font-size: 16px;
	height: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 7px 9px;
}
.form-signin span#birthday input[type="text"] {
	width: 180px !important;
}

.sidebar img {	
	margin-right: 15px;
	max-width: 160px;
	min-width: 160px;
	max-height: 160px;
	min-height: 160px;
}

.media-object {
	border: 1px solid #ccc;
	max-width: 64px;
	min-width: 64px;
	max-height: 64px;
	min-height: 64px;
}

textarea {
	resize: vertical;
}

#newPostSubmit {
	margin-top: -5px;
	margin-bottom: 10px;
}

.post-box {
	border-top: 1px solid #ccc;
	margin-top: 5px;
}

.post-box-button {
	margin-top: 10px;
	margin-right: 2px;
	visibility: hidden;
}

.post-box:hover .post-box-button.post-box-button-toggle {
	visibility: visible;	
}

.photo-box {
	position: relative;
}

.photo-box img {
	max-width: 220px;
	min-width: 220px;
	max-height: 220px;
	min-height: 220px;
}

.photo-box #noPhoto {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.photo-box #profilePhoto {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.photo-box .btn-group {
	position: absolute;
	top: 180px;
	left: 50px;
	z-index: 2;
}

.photo-box .photo-box-button.enable-toggle {
	visibility: hidden;	
}

.photo-box:hover .photo-box-button.enable-toggle {
	visibility: visible;
}

.error {
	color: rgb(185, 74, 72);
}

input.error {
	border-color: rgb(185, 74, 72);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.error:focus {
	border-color: rgb(149, 59, 57);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px rgb(213, 147, 146);
}

.success {
	color: rgb(70, 136, 71);
}

input.success {
	border-color: rgb(70, 136, 71);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input.success:focus {
	border-color: rgb(53, 102, 53);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px rgb(122, 186, 123);
}